* {
    word-break: break-all;
    box-sizing: border-box;
}
.clear {
    clear: both;
}

body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    color: #515151;
    margin:0 auto;
    border-top:solid 8px #6CC6C4;
    background-color: #F6F6F6;
}


header {
    position:relative;
    margin:0px auto 20px;
    width:920px;
    /* height:200px; */
}
.siteTitle {
    position:absolute;
    top:50px;
}

.header-right {
    float:right;
    margin-top:10px;
}


.description {
    /* position:absolute;
    top:10px;
    right:0px; */
    text-align: right;
}
.headerAddress {
    position: absolute;
    right: 0;
    top: 35px;
    height: 75px;
    width: 220px;
}

.navi {
    /* line-height: 70px; */
    /* position:absolute;
    bottom:0px; */
    border-radius: 7px;
    border: solid 1px #6CC6C4;
    height: 70px;
    width: 919px;
    background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
}

.navi ul {
    padding:0px;
    margin:0px;
}
.navi li{
    list-style: none;
    float: left;
    width:20%;
}
.navi a {
    padding: 17px 0px 16px;
    border-right:#71C9C7 solid 1px;
    border-left:#99e1df solid 1px;
    display:block;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px #6cc6c4;
}
.navi a:hover {
    background-image: linear-gradient(rgb(108,198,196) 0%,rgb(156,227,225) 100%);
}
.navi a.first {
    border-radius:6px 0px 0px 6px;
    border-left: none;
}
.navi a.last {
    border-radius:0px 6px 6px 0px;
    border-right: none;
}
.titleJa {
    display: block;
    font-size:108%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}
.titleEn {
    display: block;
    font-size:77%;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
}




/* * {
    box-sizing: border-box;
}
li {
    list-style: none;
}
.clear {
    clear: both;
}
.container {
    max-width: 923px;
    margin: 0 auto;
}



.red {
    color: red;
}


html {
    background-color: #F6F6F6;
}
header {
    border-top: 6px solid #6CC6C4;
}
header img {
    position: absolute;
    top:50px;
}

.header-right {
    float: right;
    text-align: center;
    width:223;
    padding-bottom:20px;
    padding-top:8px;
}
.header-right a{
    
}
.short-name {
    font-size:11px;
    display: block;
    margin-bottom:7px;
}
.icon {
    margin-right:4px;
}
.tel {
    font-size:22px;
    display: block;
    letter-spacing: 2px;
    line-height: 45px;
}
.time {
    border: 1px solid #aaa;
    padding: 6px 0;
    font-size:12px;
    display: block;
}

.menu {
    margin-bottom: 20px;
}
.menu-button {
    text-align: center;
    float:left;
    width:20%;
    padding:18px 0;
    border: 1px solid #aaa;
}

.menu-button:hover {
    cursor:pointer;
}
.menu-button a{
    display: block;
}
.jp {
    font-size:15px;
}

.en {
    font-size:9px;
}


 */
